<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" thread-count="5" parallel="classes"
          name="Test">
        <classes>
            <class name="org.SeleniumGrid.GoogleTest">
                <methods>
                    <include name="HomePageCheck"/>
                </methods>
            </class>
            <class name="org.SeleniumGrid.GoogleTest2">
                <methods>
                    <include name="HomePageCheck"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>