<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="4">
    <test verbose="2" preserve-order="true" name="Submit Order Test">
        <classes>
            <class name="org.Automation.submitOrderTest">
<!--                <methods>-->
<!--                    <include name="submitOrder"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
    <test thread-count="5" name="Error Validation Test">
        <classes>
            <class name="org.Automation.ErrorValidationsTest">
<!--                <methods>-->
<!--                    <include name="LoginErrorValidation"/>-->
<!--                    <include name="LoginSuccessValidation"/>-->
<!--                    <include name="ProductErrorValidation"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
<!--    <test name="Base Test">-->
<!--        <classes>-->
<!--            <class name="org.TestComponenets.BaseTest">-->
<!--                <methods>-->
<!--                    <include name="BaseTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>